* {
  background-color: dimgrey;
}
.logo:hover {
  transform: scale(1.2);
}
.MiniShopTemplate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6%;
  padding: 0;
}
